.destination-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.hero-section {
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
}
